In [1]:
# print statements
print("lets learn the python for machine learning")

lets learn the python for machine learning

In [2]:
#lets create two variables and print them
x = 16
y = "Arman"
print(x)
print (y)

16
Arman

In [3]:
#let's print the statement with string formatting
print(f"{y} is {x} years old.")

Arman is 16 years old.

In [4]:
#Using string format method
print("{} is {} years old." .format(y,x))

Arman is 16 years old.

In [6]:
#Using Concatenation method
print(y + " is " + str(x) + " years old. ")

Arman is 16 years old.

In [7]:
#Using older % string formatting method
print("%s is %d years old." %(y,x))

Arman is 16 years old.

2. Data Types
  - Numbers

In [13]:
#Working with numbers
x = 16
y = 56
print(f"The addition of x and y is {x+y}.")
print(f"The subtraction of x and y is {x-y}.")
print(f"The multiplication of x and y is {x*y}.")
print(f"The division of x and y is {x/y}.")
print(f"The remainder is {y%x}.")

The addition of x and y is 72.
The subtraction of x and y is -40.
The multiplication of x and y is 896.
The division of x and y is 0.2857142857142857.
The remainder is 8.

In [22]:
 #String
#working with single-quoted string

single_quoted_string = 'Python is amazing' 
print("Single Quoted String:", single_quoted_string)

double_quoted_string = "Python is amazing"
print("Double Quoted String:", double_quoted_string)

Single Quoted String: Python is amazing
Double Quoted String: Python is amazing

In [19]:
#String Concatenation
concatenated_string = single_quoted_string + ' ' + single_quoted_string 
print("Concatenated String is:", concatenated_string)

Concatenated String is: Python is amazing Python is amazing

In [3]:
#string methods
uppercase_string = concatenated_string.upper()
print(uppercase_string)
lowercase_string =concatenated_string.lower()
print(lowercase_string)

#String slicing examples
word="University of sundarland"
slice_word= word[4:10]
print("slice word is:", slice_word)

#Remove leading and trailing spaces
word_space ="  Pokhara University  "
print(word_space)
remove_space = word_space.strip()
print(remove_space)

word_list = ["kali","linux","is","used", "for","hacking"]
print("Word list is:",word_list)
sentence = " ".join(word_list)
print("Complete sentence is:",sentence)

word_list= "hello, World!"
replaced_string = word_list.replace("hello","Cybersecurity")
print("Replaced String:",replaced_string)

#find a word in sentence
word = "python is Awesome!! I'm learning python crash course"
index = word.find("Awesome")
print("Index of Awesome is:",index)

NameError: name 'concatenated_string' is not defined

In [1]:
#List, creating a list
fav_movie = ["mahajatra", "papi manxe","Animal","Hera Pheri"]
print(fav_movie)

['mahajatra', 'papi manxe', 'Animal', 'Hera Pheri']

In [1]:
#Accessong the element of List
print("arman fav Movie:",fav_movie[1])
print("Dhirajan fav Movie:",fav_movie[3])
print("bina fav Movie:",fav_movie[0])

#find the length of list
print("The length of string is:", len(fav_movie))


#list can contain hetrogeneous data types
list1 =["apple","banana","orange","mango"]
list2 =[5,10,15,20,25]
list3=[True,False,True,False]
list4=["apple",5,True]
print(list1)
print(list2)
print(list3)
print(list4)


#let's find the types of data types
print(type(list4))


#nested list
nested_list = ["one piece","lord of rings", [9,10]]
print(nested_list)
print("IMDB rating LOR:",nested_list[2][1])

NameError: name 'fav_movie' is not defined

In [4]:
#Dictionary
#Creating a disctionary
student = {
    "name": "aryan",
    "module":"Machine Learning",
    "CGPA": 3.7
}
print(student)

{'name': 'aryan', 'module': 'Machine Learning', 'CGPA': 3.7}

In [5]:
# Accessing the disctionary items
print("Student's Name:", student["name"])

Student's Name: aryan

In [6]:
#Adding a new element
student["Year"] = 2019
# print the disctionary as a string
print(repr(student))

{'name': 'aryan', 'module': 'Machine Learning', 'CGPA': 3.7, 'Year': 2019}

In [7]:
#Modifying an existing Item
student["CGPA"] = 3.9
print(repr(student))

{'name': 'aryan', 'module': 'Machine Learning', 'CGPA': 3.9, 'Year': 2019}

In [8]:
#Deleting an item if it exitss
if "Year" in student:
    del student["Year"]
print(student)

{'name': 'aryan', 'module': 'Machine Learning', 'CGPA': 3.9}

In [9]:
car_dict = dict(name="Tesla" ,company="Tesla" , price=10)
print(repr(car_dict))

{'name': 'Tesla', 'company': 'Tesla', 'price': 10}

In [12]:
#Boolean: Let's learn Boolean, Example 1
print("\nExample 1: Comparing Values:")
print("is 100 smaller than 200?", 200<100)
print("is 50 equal to 100?", 50 == 100)

Example 1: Comparing Values:
is 100 smaller than 200? False
is 50 equal to 100? False

In [13]:
#Example 2: Find the greatest number among two
x = 5
y = 200
if x > y:
    print(f"{x} is greater than {y}.") 
else:
    print(f"{y} is greater than {x}.")

200 is greater than 5.

In [16]:
#Evaluating Values and Variables
print("Is 'Hello' True?", bool("Hello"))
x = "Hi"
y = 25
print("Is x True?", bool(x))
print("Is y True?", bool(y))

Is 'Hello' True? True
Is x True? True
Is y True? True

In [18]:
#Let's practice function that returns boolean
def is_even(num):
    return num % 2 == 0
print("Is 20 even?", is_even(20))
print("Is 15 even?", is_even(15))

Is 20 even? True
Is 15 even? False

In [19]:
#Tuples
fav_movie = ("Exhuma", "Spider-man", "Monalisa")
print(fav_movie)

('Exhuma', 'Spider-man', 'Monalisa')

In [21]:
#Accessing the fav movie
print("YoMama's fav movie is", fav_movie[0])
print("Ram fav movie is", fav_movie[2])

YoMama's fav movie is Exhuma
Ram fav movie is Monalisa

In [23]:
x, y, z = fav_movie
print("Seperate Movie:", x, y, z)

Seperate Movie: Exhuma Spider-man Monalisa

In [24]:
# looping

for item in fav_movie:
    print(item)

Exhuma
Spider-man
Monalisa

In [25]:
#Joining the two tupples
first_tuple = ("Apple", "Your Mom", "Deez Nuts")
second_tuple = (1, 10, 20)
joined_tuples = first_tuple + second_tuple
print(joined_tuples)

('Apple', 'Your Mom', 'Deez Nuts', 1, 10, 20)

In [27]:
#Sets
#Creating a set
my_first_set = {"bananarrrr", "papayarrr", "cherryyy"}
print(my_first_set)

{'papayarrr', 'bananarrrr', 'cherryyy'}

In [29]:
#Adding a new fruit to our set

my_first_set.add("orangey")
print(my_first_set)

{'orangey', 'papayarrr', 'bananarrrr', 'cherryyy'}

In [30]:
#Updating the set

my_first_set.update(["mangerr", "pinerrr"])
print(my_first_set)

{'pinerrr', 'bananarrrr', 'orangey', 'mangerr', 'papayarrr', 'cherryyy'}

In [31]:
#remove the fruits from the set
my_first_set.remove("mangerr")
print(my_first_set)

{'pinerrr', 'bananarrrr', 'orangey', 'papayarrr', 'cherryyy'}

In [33]:
#Conditional Statements
a = 20
b = 40
c = 60
if a >= b and a >= c:
    print(f"{a} is greatest number.")
elif b >= a and b >= c:
    print(f"{b} is greatest number.")
else:
    print(f"{c} is greatest number.")

60 is greatest number.

In [40]:
#make sure to review matrix, probability, statistics, & algebra

#Leap Year
year = 2024
if (year % 4 == 0 and year % 100 !=0) or (year % 400 == 0):
  print("Leap Year")
else:
    print("Not Leap Year")

Leap Year

In [42]:
#determining the season based on the month
month = "Sep"

if month in ["Jan", "Feb", "March"]:
    print("Spring")
elif month in ["Sep", "Oct", "Nov"]:
    print("Autumn")
elif month in ["June", "July", "August"]:
    print("Summer")

Autumn

In [2]:
#Loops
#for
multiple_of_five = [5, 10, 15, 20, 25]

print("\nMultiple of five:")
for num in multiple_of_five:
    print(num)

Multiple of five:
5
10
15
20
25

In [3]:
#let's work with string

string = "Hi I am learning Python."

for char in string:
    print(char)

H
i

I

a
m

l
e
a
r
n
i
n
g

P
y
t
h
o
n
.

In [4]:
#Let's range
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [7]:
for i in range(1,10):
    print(i)

for i in range(1,5):
    print(i)

1
2
3
4
5
6
7
8
9
1
2
3
4

In [10]:
#Even number from 1 to 10
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [12]:
#Odd number from 1 to 10
for i in range(1, 11, 2):
    print(i)

1
3
5
7
9

In [15]:
#odd number from 20 to 11
print("\nodd number from 20 - 11")
for i in range(19, 10, -2):
    print(i)

odd number from 20 - 11
19
17
15
13
11

In [16]:
#let's use dictionary
 
fav_movie = {"Avatar" : 9,
            "Annihilation" : 10,
            "Little Women" : 9}

for key, value in fav_movie.items():
    print(key, ":", value)

Avatar : 9
Annihilation : 10
Little Women : 9

In [18]:
#Let's learn Loop with Tuple

fruits = [("Apple", 10), ("Banana", 12), ("Cherry", 15)]
print("\nElements of Fruits Tuple.")
for item in fruits:
    print(item)

Elements of Fruits Tuple.
('Apple', 10)
('Banana', 12)
('Cherry', 15)

In [19]:
#let's seperate each elements from tuple fruits

for char, num in fruits:
    print("character:", char, "| Quantity:", num)

character: Apple | Quantity: 10
character: Banana | Quantity: 12
character: Cherry | Quantity: 15

In [21]:
#While Loop 
#remember the for and while loop differences

count = 1
while count <= 10:
    print(count)
    count += 1

1
2
3
4
5
6
7
8
9
10

In [26]:
#find the sum of numbers 1-10 using while loop

sum = 0
num = 1
while num <= 10:
    sum += num
    num += 1
print("\nThe sum of number from 1 - 10 =", sum)

The sum of number from 1 - 10 = 55

In [28]:
#Find the sum of number from 1 to 10 even numbers only.

sum = 0
num = 1
while num <= 10:
    if num % 2 == 0:
        sum += num
    num += 1
print("The sum of number from 1 to 10 even numbers =", sum)

The sum of number from 1 to 10 even numbers = 30

In [29]:
#find the even number from 1 to 10 using while loop.

sum = 0 
num = 1
while num <= 10:
    if num % 2 == 0:
        print(num)
    num += 1

2
4
6
8
10

In [34]:
 #find the factorial of 5.

number = 5
factorial = 1
while number > 0:
    factorial * number
    number -= 1
print("Factorial of 5 is", factorial)

Factorial of 5 is 1

In [35]:
#Reverse the string.

string = "Flim" [::-1]

print(string)

milF

In [36]:
#Function

def greet():
    print("sup")
greet()

sup